body{
    background-color: #3a6ea5;
    margin-left: 30px;
    font-size: larger;
}

div{
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
}
form{
    border: 2px solid;
    background-color: #D9E4F1;
    border-top-color: white;
    border-left-color: white;
    padding:5px;
    width: 220px;
}

.titulo{
    margin:1px;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    background-color: #d4d0c8;
} /*
.icone{
    width: 20px;
    height: 20px;
    display: inline;
}*/
.botao{
    width: 40px;
    margin-bottom: 4px;
    background-color: #d4d0c8;
}
.botaolargo{
    width: 84px;
    background-color: #d4d0c8;
}
.botaoalto{
    width: 40px;
    background-color: #d4d0c8;
    /*height: 30px;*/
}
.resultado{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
}
.resultado{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
    padding: 0%;
    margin: 0%;
}
.previa{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
    font-size: small;
    padding: 0%;
    margin: 0%;
}



