body{
    background-image: url(/img/wallpaper.jpg);
    margin-left: 30px;
    font-size: larger;
}
form{
    background-color: #D9E4F1;
}
/*
.titulo{
    margin:1px;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
.icone{
    width: 20px;
    height: 20px;
    display: inline;
}*/
.botao{
    width: 40px;
    margin-bottom: 4px;
}
.botaolargo{
    width: 84px;;
}
.botaoalto{
    width: 40px;
    /*height: 30px;*/
}
.resultado{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
}
.resultado{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
    padding: 0%;
    margin: 0%;
}
.previa{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
    font-size: small;
    padding: 0%;
    margin: 0%;
}
form{
    padding:5px;
    width: 220px;
    border: 1px solid black;
}


