
button:focus {
    outline: 0;
    /*box-shadow: none;*/
  }
body{
    background-color: #3a6ea5;
    margin-left: 30px;
    font-size: larger;
}

div{    
    margin: auto;
    width: 80%;    
    padding: 70px 0;
}
form{
    border: 1px solid;
    background-color: #D9E4F1;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #404040;
    border-bottom-color: #404040;
    
    padding:5px;
    width: 220px;
}

.titulo{
    margin:1px;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    background-color: #d4d0c8;
} 
.botao{
    border: 1px solid;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: #d4d0c8;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #404040;
    border-bottom-color: #404040;
    font-size: 13px;
    width: 35px;
    height: 28px;
    margin-bottom: 4px;
    
}
.botaolargo{    
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #404040;
    border-bottom-color: #404040;
    width: 75px;
    height: 28px;
    background-color: #d4d0c8 ;
}
.botaoalto{   
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #404040;
    border-bottom-color: #404040; 
    background-color: #d4d0c8 ;
    width: 35px;
    height: 28px;   
} 
.resultado{ 

    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
}
.resultado{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
    padding: 0%;
    margin: 0%;
}
.previa{
    font-family: Consolas;
    width: 215px;
    text-align: right;
    border-color: #8e9cad;
    border-width: 1px;
    background-color: antiquewhite;
    font-size: small;
    padding: 0%;
    margin: 0%;
}


button:active{
    border: 1px solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: #404040;
    border-top-color: #404040;
} 


/*
*:focus {
  outline: none !important
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

:active {
  outline: none !important;
}*/